#
# !!! Don't ever put any credentials or urls in here !!!
# For production place a application.yaml in the directory the artefact is started and it will be read by spring automatically.
# For dev the dev profile is automatically activated, when the project is run with 'bootRun' or with the tests.
# A template for such a yaml is a neighbor of this file.
#

spring:
  main:
    banner-mode: OFF
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate.globally_quoted_identifiers: true
      hibernate.search.backend.directory.root: searchindex/
      hibernate.id.db_structure_naming_strategy: single
      org.hibernate.envers.audit_table_suffix: _audit
      org.hibernate.envers.revision_field_name: rev
      org.hibernate.envers.revision_type_field_name: revtype
  sql:
    init:
      platform: postgresql
  security:
    oauth2:
      client:
        registration:
          keycloak:
            provider: bannergress
            client-id: ${keycloak.resource}
            client-secret: ${keycloak.credentials.secret}
            authorization-grant-type: client_credentials
        provider:
          bannergress:
            issuer-uri: ${keycloak.auth-server-url}/realms/${keycloak.realm}
      resourceserver:
        jwt:
          issuer-uri: ${keycloak.auth-server-url}/realms/${keycloak.realm}
  http:
    serviceclient:
      timezonedb:
        base-url: https://api.timezonedb.com

keycloak:
  bearer-only: true

springdoc:
  paths-to-match:
  - /bnrs
  swagger-ui:
    supported-submit-methods: []

server:
  compression:
    enabled: true

niantic:
  official-mission-authors:
    - MissionsByNIA22
    - MDNIA
    - MDNIA03
    - MDNIA2
    - MDNIA2020
    - MissionbyNIA
    - MissionDaysNia
    - MissionsbyNIA
    - MissionsByNIA01
    - MissionsByNIA02
    - MissionsByNIA03
    - MissionsByNIA22
    - MissionsNIA

---
# This settings get activated when the 'dev' spring profile is active

spring:
  config.activate.on-profile: dev
keycloak:
  enabled: false

logging:
  level:
    com.bannergress: DEBUG
    org.hibernate.SQL: DEBUG # DEBUG for SQL queries
    org.hibernate.type: INFO # TRACE for SQL parameters
